<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Globalization" version="4.0.11" targetFramework="portable46-net451+win81+wpa81" />
  <package id="System.Numerics.Vectors" version="4.1.1" targetFramework="portable46-net451+win81+wpa81" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="portable46-net451+win81+wpa81" />
  <package id="System.Runtime" version="4.1.0" targetFramework="portable46-net451+win81+wpa81" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="portable46-net451+win81+wpa81" />
</packages>